.house-container {
  padding: 20px;
}

/* .house-container .ui.card {
  margin: 15px;
} */

@media only screen and (max-width: 540px) {
  .ui.cards a.card {
    min-width: 100%;
  }
  .house-container {
    padding-right: 35px;
  }
  
}

.ui.statistics.shrink > .statistic {
  margin: 0 0em 1em;
}

.ui.cards.latest > .card > .content, .ui.card > .content {
  background-color: lightgray;
}

select {
  font-size: 50px;
}

.ui.statistics.shrink .statistic > .value, .ui.statistic > .value {
  font-size: 3rem;
}

.ui.statistics.shrink .statistic > .label, .ui.statistic > .label {
  font-size: .8rem;
}

.ui.toggle.checkbox.price-limit {
  margin-left: auto;
  margin-right: 0px;
  float: right;
  transform: translateY(8px);
}

.ui.toggle.checkbox.zip-limit {
  margin-left: auto;
  margin-right: 20px;
  float: right;
  transform: translateY(8px);
}