.house-container {
  padding: 20px;
}

/* .house-container .ui.card {
  margin: 15px;
} */

@media only screen and (max-width: 540px) {
  .ui.cards a.card {
    min-width: 100%;
  }
  .house-container {
    padding-right: 35px;
  }
  
}

.ui.statistics.shrink > .statistic {
  margin: 0 .8em 1em;
}

.ui.cards.latest > .card > .content, .ui.card > .content {
  background-color: lightgray;
}